@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="text-center">
    <h1 class="display-4">Logout</h1>
    <p>Sei stato disconnesso con successo.</p>
    <a class="btn btn-primary" asp-page="/Index">Torna alla home page</a>
</div>